body {
  
    background: #fff url(../Content/Images/first_aid_kit.png) fixed;

}

#wrapper {
    margin-top: 50px;
    width: 1200px;
    background: #fff;
    box-shadow: 0 10px 10px #b4b4b4;
    color: #555;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*#region photos*/
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.card {
    width: 200px;
    margin: 5px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
    padding: 5px 10px 5px 10px;
}

    .card img {
        max-width: 100%;
        background-image: inherit;
    }

    .card .text {
        padding: 10px 10px 10px;
    }

        .card .text > button {
            background: gray;
            border: 0;
            color: white;
            padding: 10px;
            width: 100%;
        }
/*#endregion*/

.marg50{
    margin-top:50px;
}

.carousel-caption-title{
    font-family:'Lucida Handwriting';
}

